.chat-screen_texts{
    height: calc(100% - 80px);
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.chat-screen_texts > .text{
    background-color: #fff;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat-screen_texts > .text::after{
    content: "";
    border-right: 16px solid #fff;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}
.chat-screen_texts > .text:hover{
    color: bisque;
    background-color: rgb(232, 163, 66);
    transition: background-color 1500ms 200ms ease-in;
}
.chat-screen_texts > .text:hover::after{
    border-right-color: rgb(232, 163, 66);
    transition: border-right-color 1500ms 200ms ease-in;
}
