.detail_section{
    width: 90vw;
    margin-top: 70px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.detail_img{
    width: 100%;
    border-radius: 1rem;
}

.detail_genre{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.detail_overview{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.7rem;
    border-radius: 0.5rem;
}